/* Alle Abstände aktuell noch Platzhalter */
/* Alle Farben aktuell noch Platzhalter 
*/

* {
    box-sizing: content-box !important;
}

.menu {
    position: fixed;
}

.headline {
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.d-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* Board Header */
.board-header {
    padding-top: 100px;
    padding-left: 300px;
    display: flex;
    justify-content: space-between;
}

.search-and-add {
    display: flex;
    align-items: center;
}

#search {
    border-right: 1px solid grey;
}

.inputField input::placeholder {
   font-size: 16px;
}

.inputField input:focus {
    outline: none;
}

#add-task {
    cursor: pointer;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
}

#add-task-mobile {
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.inputField button {
    border: none;
    background-color: #fff;
    padding: 4px;
    border-radius: 999px;
    margin-left: 10px;
}

.inputField button:hover {
    background-color: #E7E7E7;
}

#add-task:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-task-button img {
    margin-left: 10px;
}

.add-task-button-mobile {
    display: none;
}

/* Board-Section */

.board-section {
    padding-top: 64px;
    padding-left: 300px;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 350px);
}

.board-element {
    width: 300px;
    padding: 16px;
}

.board-element:first-child {
    padding-left: 0;
}

.board-element:last-child {
    padding-right: 0;
}

.add-task-btn {
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.add-task-btn:hover {
    opacity: 0.7;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between span {
    color: #41526E;
    font-weight: 700;
    font-size: 18px;
}

.align-items {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.board-content {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid grey;
    background-color: #E7E7E7;
    border-radius: 10px;
    color: grey;
    border-style: dotted;
    text-align: center;
}

.todo-content {
    margin-top: 20px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #fff;
    flex: 1;
}

.todo-content h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#todo-content p {
    color: lightgray;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
}

#category-span {
    padding: 4px 8px;
    background-color: blue;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subtask-content {
    font-size: 14px;
}

#subtask-content span {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.progress {
    height: 0.5rem !important;
    width: 50%;
}

.style-contacticon {
    display: flex;
}

.margin-left {
    margin-left: -10px;
}

.margin-left:first-child {
    margin-left: 0;
}

#detail-content {
    background-color: #fff;
}

#show-add-todo {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#add-todo-content {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 !important;
}

.boardAddToDo {
    padding: 24px;
}

.boardAddToDo p {
    margin: 0;
}

/* Add Task */


/* Detail View */

#show-detail-todo {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#detail-todo-content {
    max-height: 90vh;
    width: 400px;
    background-color: #fff;
    border-radius: 24px;
    padding: 40px;
    overflow: scroll;
}

#detail-todo-content h1 {
    margin: 20px 0;
}

.close-img {
    border-radius: 999px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close-img:hover {
    background-color: #E7E7E7;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-info div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
}

.label {
    font-size: 18px;
    color: #2A3647;
    margin-right: 8px;
    min-width: 100px;
}

.value {
    margin-right: 8px;
}

.subtask-detailview {
    padding: 8px;
    display: flex;
    align-items: center; 
    width: fit-content;
    border-radius: 10px;
  }

.subtask-detailview:hover {
    background-color: #E7E7E7;
}

.subtask-detailview input[type="checkbox"] {
    opacity: 0;
    position: absolute; 
    padding: 0;
}
  
  .subtask-detailview label {
    display: flex;
    min-width: 20px;
    height: 20px;
    align-items: center; 
    cursor: pointer;
    background: url('../assets/img/test_uncheked.svg') no-repeat left center;
    justify-content: flex-start;
    padding-left: 40px !important;
  }

  .subtask-detailview input[type="checkbox"]:checked + label {
    background: url('../assets/img/test_cheked.svg') no-repeat left center;
  }

.contact-detailview {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.contact-detailview:hover {
    background-color: #E7E7E7;
}

.contact-detailview span {
    padding-left: 16px;
}

.btn-container {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.delete-btn {
    cursor: pointer;
    width: 80px;
    height: 25px;
    background: url('/assets/img/delete-btn.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    margin-right: 8px;
}

.delete-btn:hover {
    background-image: url('/assets/img/delete-btn-hover.svg');
}

.edit-btn {
    cursor: pointer;
    width: 80px;
    height: 25px;
    background: url('/assets/img/edit-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    margin-left: 8px;
}

.edit-btn:hover {
    background-image: url('/assets/img/edit-btn-hover.svg');
}

/* Edit */

.space-end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.editViewInput {
    width: calc(100% - 44px);
    margin-bottom: 16px;
}

.editViewTextarea {
    width: calc(100% - 34px);
    margin-bottom: 16px;
}

.edit-p {
    font-size: 18px;
    color: #2A3647;
    margin-bottom: 8px;
}

.edit-p-m0 {
    font-size: 18px;
    color: #2A3647;
    margin: 0;
}

.mb-16 {
    margin-bottom: 16px;
}

.priobutton-editview {
    display: flex;
    margin-bottom: 16px;
}

.priobutton-editview div {
    margin-right: 8px;
    padding: 0 !important;
    height: 41px;
}

.priobutton-editview div:last-child {
    margin-right: 0;
}

.prioButton p {
    margin: 0;
}

#ok-button {
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    width: fit-content;
    margin-bottom: 30px;
}

@media(max-width: 1350px) {

    .board-header {
        width: calc(100vw - 330px);
    }

    .board-section {
        flex-direction: column;
    }

    #board-content-todo {
        display: flex;
        margin-right: 30px;
        margin-bottom: 30px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 2px 10px;
    }

    #board-content-progress {
        display: flex;
        margin-right: 30px;
        margin-bottom: 30px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 2px 10px;
    }

    #board-content-feedback {
        display: flex;
        margin-right: 30px;
        margin-bottom: 30px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 2px 10px;
    }

    #board-content-done {
        display: flex;
        margin-right: 30px;
        margin-bottom: 30px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 2px 10px;
    }

    .todo-content {
        margin-right: 20px;
        flex: 0 0 300px;
    }

    .todo-content:last-child {
        margin-right: 0;
    }

    .board-element {
        width: calc(100vw - 300px);
        padding: 0;
    }

    .space-between {
        margin-right: 30px;
    }
}

@media(max-width: 1100px) {
    .board-header .inputField {
        display: none;
    }
}

@media(max-width: 750px) {

    * {
        box-sizing: border-box !important;
    }

    .board-header {
        padding-left: 30px;
        width: 100vw;
    }

    .search-and-add {
        margin-right: 30px;
    }

    .board-section {
        padding-left: 30px;
        width: 100vw;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .board-element {
        width: 100%;
        padding-right: 30px;
    }

    .add-task-button {
        display: none;
    }

    .add-task-button-mobile {
        display: block;
    }

    .space-between {
        margin-right: 0;
    }

    #board-content-todo {
        margin-right: 0;
    }

    #board-content-progress {
        margin-right: 0;
    }

    #board-content-feedback {
        margin-right: 0;
    }

    #board-content-done {
        margin-right: 0;
    }

    .inputField {
        width: 100%;
    }

    .descriptionTextArea {
        width: 100%;
    }
}

@media(max-width: 450px) {
    .board-header {
        padding-top: 70px;
        padding-left: 8px;
    }

    .headline {
        padding: 0;
    }

    .board-section {
        padding-top: 30px;
        padding-left: 8px;
    }

    .search-and-add {
        margin-right: 8px;
    }

    .board-element {
        padding-right: 8px;
    }

    .todo-content {
        flex: 0 0 250px;
    }

    #board-content-done {
        margin-right: 8px; 
    }

    #detail-todo-content {
        width: 90vw;
        padding: 20px;
    }

    .priobutton-editview {
        flex-direction: column;
        gap: 10px;
    }
}