/* Alle Abstände aktuell noch Platzhalter */
/* Alle Farben aktuell noch Platzhalter 
*/

body {
    max-width: 1440px;
    background-color: #F6F7F8;
}

.content {
    display: flex;
}

.d-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

/* Board Header */
.board-header {
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}

.search-and-add {
    display: flex;
    align-items: center;
}

#search-btn {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#search-btn input {
    border: none;
    width: 200px;
    height: 30px;
}

#search-btn input::placeholder {
   font-size: 16px;
}

#search-btn input:focus {
    outline: none;
}

#search-btn button {
    border: none;
    border-left: 1px solid grey;
    background-color: #fff;
    height: 32px;
}

#add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #2a3647;
    color: #fff;
    padding: 12px 16px 12px 16px;
}

#add-task:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-task-button img {
    margin-left: 10px;
}

/* Board-Section */

.board-section {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
}

.board-element {
    width: 300px;
    padding: 16px;
}

.board-element:first-child {
    padding-right: 0;
}

.add-task-btn {
    cursor: pointer;
}

.add-task-btn:hover {
    opacity: 0.7;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-between span {
    color: #41526E;
    font-weight: 700;
    font-size: 18px;
}

.board-content {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid grey;
    background-color: rgb(221, 214, 214);
    border-radius: 10px;
    color: grey;
    border-style: dotted;
    text-align: center;
}

.todo-content {
    margin-top: 20px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #fff;
}

.todo-content h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#todo-content p {
    color: lightgray;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
}

#category-span {
    padding: 4px 8px;
    background-color: blue;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#subtask-content {
    font-size: 14px;
}

.progress {
    height: 0.5rem !important;
    width: 50%;
}

#detail-content {
    background-color: #fff;
}

#show-add-todo {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#add-todo-content {
    background-color: #fff;
    border-radius: 10px;
}

.boardAddToDo {
    padding: 24px;
}

#show-detail-todo {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#detail-todo-content {
    background-color: #fff;
    border-radius: 10px;
}