/* Detail View */

#show-detail-todo {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#detail-todo-content {
    overflow: scroll; 
    padding: 20px; 
    width: 400px;
    background-color: #fff;
    border-radius: 24px;
    max-height: 80vh;
    animation-name: SlideFromRight;
    animation-duration: 225ms;
    animation-fill-mode: forwards;
}

@keyframes SlideFromRight {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(0);
    }
}

#detail-todo-content h1 {
    margin: 20px 0;
}

#detail-todo-content p {
    margin-bottom: 20px;
}

.close-img {
    border-radius: 999px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close-img:hover {
    background-color: #E7E7E7;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-info div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
}

.label {
    font-size: 18px;
    color: #2A3647;
    margin-right: 8px;
    min-width: 100px;
}

.value {
    margin-right: 8px;
}

.subtask-detailview {
    padding: 8px;
    display: flex;
    align-items: center; 
    width: fit-content;
    border-radius: 10px;
  }

.subtask-detailview:hover {
    background-color: #E7E7E7;
}

.subtask-detailview input[type="checkbox"] {
    opacity: 0;
    position: absolute; 
    padding: 0;
}
  
  .subtask-detailview label {
    display: flex;
    min-width: 20px;
    height: 20px;
    align-items: center; 
    cursor: pointer;
    background: url('../assets/img/test_uncheked.svg') no-repeat left center;
    justify-content: flex-start;
    padding-left: 40px !important;
  }

  .subtask-detailview input[type="checkbox"]:checked + label {
    background: url('../assets/img/test_cheked.svg') no-repeat left center;
  }

.contact-detailview {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}

.contact-detailview:hover {
    background-color: #E7E7E7;
}

.contact-detailview span {
    padding-left: 16px;
}

.btn-container {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.delete-btn {
    cursor: pointer;
    width: 80px;
    height: 25px;
    background: url('/assets/img/delete-btn.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    margin-right: 8px;
}

.delete-btn:hover {
    background-image: url('/assets/img/delete-btn-hover.svg');
}

.edit-btn {
    cursor: pointer;
    width: 80px;
    height: 25px;
    background: url('/assets/img/edit-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in-out;
    margin-left: 8px;
}

.edit-btn:hover {
    background-image: url('/assets/img/edit-btn-hover.svg');
}

/* Edit */

.space-end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.editViewInput {
    width: calc(100% - 44px);
    margin-bottom: 16px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

.editViewTextarea {
    width: calc(100% - 34px);
    margin-bottom: 16px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

.edit-p {
    font-size: 18px;
    color: #2A3647;
    margin-bottom: 8px;
}

.edit-p-m0 {
    font-size: 18px;
    color: #2A3647;
    margin: 0;
}

.mb-16 {
    margin-bottom: 16px;
}

.priobutton-editview {
    display: flex;
    margin-bottom: 16px;
}

.priobutton-editview div {
    margin-right: 8px;
    padding: 4px !important;
    height: 41px;
}

.priobutton-editview div:last-child {
    margin-right: 0;
}

.prioButton p {
    margin: 0 !important;
}

footer {
    margin-bottom: 0 !important;
}

#show-add-todo {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

#add-todo-content {
    max-height: 90vh;
    background-color: #fff;
    border-radius: 24px;
    padding: 40px;
    transform: translateX(100vw);
    animation-name: SlideFromRight;
    animation-duration: 225ms;
    animation-fill-mode: forwards;
}

.boardAddToDo {
    padding: 24px;
}

.boardAddToDo p {
    margin: 0;
}

#add-todo-content p {
    margin-bottom: 0 !important;
}

#ok-button {
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    width: fit-content;
    margin-bottom: 30px;
}