.main-container {
    display: flex;
    width: 100%;
    margin-top: 96px;
    gap: 55px
}

.contacts-container {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: calc(100vh - 96px);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 22px 28px;
    box-sizing: border-box;
    overflow: auto;
}

.contacts-headline {
    display: flex;
    align-items: center;
    margin-top: 110px;
}

.contacts-header {
    height: 56px;
    position: sticky;
}

.contact-button {
    text-align: center;
    padding: 16px;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    gap: 16px;
}

.contact-button:hover {
    background: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.underline{
    border: 1px solid #D1D1D1;   
    margin: 8px 0px;
}

.user-card {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-container{
    display: flex;
    flex-direction: column;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    
    border: 2px solid white;
    margin-right: 35px;
}

.main-contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 47px;
    font-weight: 500;
    border-radius: 50%;
    background-color: #FF7A00;
    border: 2px solid white;
    color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);;
}

.contact-container .email {
    color: #007CEE;
}

.user-card:hover {
    background-color:#F9F9F9;
}

.first-letter {
    font-size: 20px;
    font-weight: 400;
    padding-left: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.main-head-container {
    display: flex;
    gap: 54px;
    margin-bottom: 21px;
}

.name-container {
    color: black;
    font-size: 47px;
    font-weight: 500;
    padding-bottom: 8px;
}

.action-icons-container {
    color: #2a3647;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 16px;
}

.action-icons-container img {
    height: 18px;
    width: 18px;
   
}

.edit-delete-container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-delete-container:hover {
    font-weight: 700;
    filter: invert(60%) sepia(79%) saturate(1567%) hue-rotate(165deg) brightness(92%) contrast(93%);
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.detail-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
}

.information-headline {
    display: flex;
    align-items: center;
    height: 74px;
    font-size: 20px;
    font-weight: 400;
    
}

.detail-email {
    color: #29abe2;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.contact-popup{
    display: flex;
    position: relative;
    height: 592px;
    width: 1212px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.let-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 48px;
    height: 100%;
    width: 40%;
    background-color: #2a3647;
    color: white;
}

.let-container img {
    width: 55px;
    height: 66px;
    z-index: 5;
    padding-bottom: 12px;
}

.seperator-popUp {
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
    border-radius: 5px;
    margin-top: 16px;
}

.right-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 135px 0;
}

.close-icon {
    z-index: 50;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.close-icon:hover{
    background-color:#D9D9D9;
    border-radius: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 72px;
}

.person-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #D1D1D1;
    border-radius: 70px;
    border:3px solid white;
}

.person-icon img {
    width: 64px;
    height: 64px;
    color: white;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(129deg) brightness(364%) contrast(102%);
}

.input-container {
    width: 400px;
}

.addContactContainer {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.addContactContainer button {
    padding: 15px 24px;
    border-radius: 8px;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}
