@media(min-width: 1281px) {
    .info-container {
        display: block !important;
    }

    .contacts-container {
        display: flex !important;
    }
}

@media(max-width: 1280px) {
    .info-container {
        display: none;
    }

    .contacts-container {
        width: 100%;
        font-size: 20px;
    }

    .contacts-container .email {
        font-size: 16px;
    }

    .contact-button {
        display: none;
    }

    .add-button-mobile {
        display: flex!important;
    }

    .contact-close {
        display: flex;
    }

    .contact-popup {
        box-sizing: border-box;
        flex-direction: column;
        height: auto;
        gap: 0;
        animation-duration: 0.3s;
        animation-name: fadeinPopupMobile;
    }

    .left-container {
        box-sizing: border-box;
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        padding: 124px 24px;
    }

    .left-container img {
        display: none;
    }

    .headline-popUp {
        font-size: 47px;
    }

    .subheadline-popUp {
        font-size: 20px;
    }

    .close-icon img {
        z-index: 999;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(150%);
    }

    .close-icon:hover {
        background-color: none;
        border-radius: none;
    }

    .person-icon {
        position: absolute;
        transform: translate(0%, -213%);

    }

    .right-container {
        padding: 0px 16px;
        padding-top: 92px;
    }

    .form-container {
        box-sizing: border-box;
        margin-left: 0;
        align-items: center;
    }

    .input-container {
        width: auto;
    }

    .addContactContainer {
        margin-top: 32px;
        margin-bottom: 80px;
    }

    .addContactContainer .cancel {
        display: none;
    }

    .inputFieldsRegistration {
        gap: 15px;
    }
}

@media(max-width: 911px) {
    .name-container {
        font-size: 36px;
    }

    .info-container {
        margin-left: 16px;
    }

    .main-head-container {
        gap: 20px;
    }

    .action-icons-container {
        display: none;
    }

    .main-contact-icon {
        width: 80px;
        height: 80px;
        font-size: 27px;
    }

    .menu-contact-mobile {
        display: block !important;
    }
}

@media(max-width: 750px) {
    .contacts-container {
        height: calc(100vh - 160px);
    }
    .main-container {
        margin-top: 80px;
        height: calc(100vh - 80px);
    }
}

@media(max-width: 400px) {
    #addContactPopUp {
        width: 100%;
    }

    #editContactPopUp {
        width: 100%;
    }

    .user-card {
        padding: 15px 8px;
    }
}

@media(max-width: 360px) {
    .contacts-container {
        padding: 22px 8px;
    }
}