body {
    position: relative;
    overflow-y: hidden;
}

.main-container {
    display: flex;
    width: 100%;
    margin-top: 96px;
    position: relative;
}

::-webkit-scrollbar {
    width: 27px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #A8A8A8;
    border: 9px solid white;
    border-radius: 20px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 96px);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    background-color: white;
    padding: 22px 28px;
    box-sizing: border-box;
    overflow: scroll;
    font-size: 20px;
}

.contacts-container .email {
    font-size: 16px;
}

.contacts-headline {
    display: flex;
    align-items: center;
    margin-top: 110px;
}

.contacts-header {
    height: 56px;
    position: sticky;
}

.contact-button {
    text-align: center;
    padding: 16px;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    gap: 16px;
}

.add-button-mobile {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 112px;
    right: 16px;
    background-color: #2a3647;
    width: 56px;
    height: 56px;
    border-radius: 46px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 800;
}

.add-button-mobile:active {
    background-color: #29ABE2;
}

@keyframes fadein {
    from {
        right: -100px;
    }

    to {
        right: 16px;
    }
}

@keyframes fadeinPopup {
    from {
        right: -1000px;
    }

    to {
        right: 0;
    }
}

@keyframes fadeinPopupMobile {
    from {
        top: 1000px;
    }

    to {
        top: 0;
    }
}

.contact-options-mobile {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    right: 16px;
    width: 116px;
    height: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px 20px 0px 20px;
    animation-duration: 0.3s;
    animation-name: fadein;
}

.contact-options-mobile div {
    display: flex;
    padding: 8px;
    gap: 8px;
    justify-content: flex-start;
    cursor: pointer;
}

.contact-options-mobile div:active {
    font-weight: 700;
    filter: invert(76%) sepia(37%) saturate(6674%) hue-rotate(165deg) brightness(94%) contrast(87%);
}

.add-button-mobile img {
    width: 30px;
    height: 21px;
}

.contact-button:hover {
    background: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.underline {
    border: 1px solid #D1D1D1;
    margin: 8px 0px;
}

.user-card {
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 35px;
}

.main-contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 47px;
    font-weight: 500;
    border-radius: 50%;
    background-color: #FF7A00;
    border: 2px solid white;
    color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.contact-container .email {
    color: #007CEE;
}

.user-card:hover {
    background-color: #F9F9F9;
}

.first-letter {
    font-size: 20px;
    font-weight: 400;
    padding-left: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.main-head-container {
    display: flex;
    gap: 54px;
    margin-bottom: 21px;
    align-items: center;
}

.name-container {
    color: black;
    font-size: 47px;
    font-weight: 500;
    padding-bottom: 8px;
}

.action-icons-container {
    color: #2a3647;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 16px;
}

.action-icons-container img {
    height: 18px;
    width: 18px;
}

.edit-delete-container {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-delete-container:hover {
    font-weight: 700;
    filter: invert(60%) sepia(79%) saturate(1567%) hue-rotate(165deg) brightness(92%) contrast(93%);
}

.contact-close {
    display: none;
    position: absolute;
    top: 50px;
    right: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu-contact-mobile {
    display: none;
    position: absolute;
    bottom: 112px;
    right: 16px;
    width: 56px;
    height: 56px;
    background-color: #2a3647;
    border-radius: 56px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.menu-contact-mobile:active {
    background-color: #29ABE2;
}

.info-container {
    margin-left: 50px;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.detail-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
}

.information-headline {
    display: flex;
    align-items: center;
    height: 74px;
    font-size: 20px;
    font-weight: 400;
}

.detail-email {
    color: #29abe2;
}

.popup-container {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.headline-popUp {
    font-size: 61px;
    font-weight: 700;
}

.subheadline-popUp {
    font-size: 27px;
    font-weight: 400;
}

.contact-popup {
    display: flex;
    position: relative;
    height: 592px;
    background-color: white;
    border-radius: 30px;
    gap: 83px;
    animation-duration: 0.3s;
    animation-name: fadeinPopup;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 48px;
    height: 100%;
    width: 40%;
    background-color: #2a3647;
    color: white;
    border-radius: 30px 0px 0px 30px;
}

.left-container img {
    width: 55px;
    height: 66px;
    z-index: 5;
    padding-bottom: 12px;
}

.seperator-popUp {
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
    border-radius: 5px;
    margin-top: 16px;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 135px 0;
    padding-right: 48px;
}

.close-icon {
    z-index: 50;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.close-icon:hover {
    background-color: #D9D9D9;
    border-radius: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 72px;
}

.person-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #D1D1D1;
    border-radius: 70px;
    border: 3px solid white;
    font-size: 47px;
    color: white;
    font-weight: 500;
}

.edit-person-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border: 3px solid white;
}

.person-icon img {
    width: 64px;
    height: 64px;
    color: white;
    filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(129deg) brightness(364%) contrast(102%);
}

.input-container {
    width: 400px;
}

.addContactContainer {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.addContactContainer button {
    padding: 15px 24px;
    border-radius: 8px;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}