.wrongInput {
  border: 1px solid #ff001f !important;
}
#slideImage {
  position: absolute;
  width: 274px;
  height: 335px;
  transform: scale(1);
  transition: top 0.5s, left 0.5s, transform 0.5s, width 0.5s, height 0.5s;
  z-index: 1;
}
.checkbox{
  cursor: pointer;
  height: 24px;
  width: 24px;
}
.finishedMessage {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a3647;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  height: 74px;
  padding: 0px 25px;
  border-radius: 20px;
  transition: bottom 0.1s ease-in-out;
}
.finishedMessage p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 74px;
  display: flex;
  align-items: center;
}
/* #region login */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s;
}
.signUpButtonContainer {
  display: flex;
  gap: 35px;
  align-self: flex-end;
  align-items: center;
  margin-top: 67px;
  margin-right: 122px;
  z-index: 2;
}
.signUpButtonContainer button {
  padding: 15px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.signUpButtonContainer p{
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px
}
.loginMaskContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}
.loginMask {
  display: flex;
  gap: 32px;
  padding: 48px 115px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}
.loginHeadline h1 {
  margin-bottom: 16px;
}
.loginHeadline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputFieldsContainer {
  width: 437px;
}
.inputFieldsLogin {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.inputField {
  display: flex;
  align-items: center;
  padding: 12px 21px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background: #fff;
}
.inputField input {
  border: 0;
  flex: 1;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.inputField input:focus {
  outline: none;
}
.wrongPasswordText {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 8px;
  margin-bottom: 20px;
  color: #ff8190;
  height: 16px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.passwordIcon{
  cursor: pointer;
}
.rememberMeContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.rememberMeContainer input {
  margin-right: 8px;
}
.rememberMeContainer p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.loginButtonContainer {
  display: flex;
  gap: 35px;
}
.loginButtonContainer button {
  padding: 15px 24px;
  border-radius: 8px;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}
.footnotes {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 40px;
}
.footnotes a {
  color: #a8a8a8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.footnotes a:hover {
  color: #29abe2;
  font-weight: 700;
}
/* #endregion */

/* #region Registration */
.registrationMask {
  display: flex;
  gap: 32px;
  padding: 48px 115px;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}
.registrationHeadlineContainer {
  display: flex;
  width: 437px;
  justify-content: center;
}
.registrationHeadline {
  text-align: center;
  width: 315px;
  margin-right: 32px;
}
.registrationBackIcon {
  position: relative;
  top: 16px;
  height: 32px;
  right: 61.5px;
  cursor: pointer;
}
.registrationBackIcon:hover {
  background-color: #eee;
  border-radius: 50%;
}
.inputFieldsRegistration {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.passwordNotConfirmText {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 8px;
  margin-bottom: 16px;
  height: 15px;
  color: #ff8190;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.acceptPrivacyPolicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.acceptPrivacyPolicContainer p {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #a8a8a8;
  font-size: 16px;
}
.acceptPrivacyPolicContainer a {
  color: #29abe2;
  font-size: 16px;
  text-decoration: none;
}
.setColorPrivacyPolicRed p{
  color: #ff001f;
}
.setColorPrivacyPolicRed a{
  color: #ff001f;
}
/* #endregion */

@media (max-width: 1050px) {
  .loginMask {
    margin-top: 100px;
  }
  .registrationMask {
    padding: 20px 60px;
    margin-top: 150px;
  }
}
@media (max-width: 750px) {
  body{
    background-color: #2A3647;
    transition: background-color 0.5s;
  }
  .slideImageColor{
    transition: fill 0.5s ease;
  }
  #slideImage {
    width: 100.03px;
    height: 121.97px;
  }
  h1 {
    font-size: 47px;
  }
  .content {
    justify-content: flex-end;
  }
  .signUpButtonContainer {
    align-self: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 42px;
  }
  .inputFieldsContainer {
    width: 364px;
  }
  .loginMask {
    padding: 32px 16px;
    margin-top: 0px;
  }
  .loginButtonContainer {
    flex-direction: column;
    gap: 21px;
  }
  .footnotes {
    margin-bottom: 22px;
  }
  .registrationMask {
    padding: 32px 16px;
    margin-top: 0px;
  }
  .registrationHeadlineContainer {
    width: 364px;
  }
  .registrationBackIcon {
    right: -24px;
  }
  .signUpButtonContainer button{
    font-size: 16px;
  }
  .loginButtonContainer button{
    font-size: 16px;
  }
}
