<div class="contact-popup">
    <div class="let-container">
        <img src="./assets/img/join_logo_white.svg" alt="">
        <div class="fs-61 fw-700">Add contact</div>
        <div class="fs-27 fw-400">Tasks are better with a Team!</div>
        <div class="seperator-popUp"></div>
    </div>
    <div class="right-container">
        <div class="close-icon" onclick="closeAddContactPopUp()">
            <img src="./assets/img/close.svg" alt="">
        </div>
        <div class="person-icon">
            <img src="./assets/img/person.svg" alt="">
        </div>
        <form class="form-container" onsubmit="addContact(); return false">
            <div class="input-container">
                <div class="inputFieldsRegistration">
                    <div class="inputField">
                        <input type="text" placeholder="Name" id="addName" required />
                        <img src="./assets/img/person.svg" alt="" />
                    </div>
                    <div class="inputField" id="inputEmailField">
                        <input type="email" placeholder="Email" id="addEmail" required />
                        <img src="./assets/img/mail.svg" alt="" />
                    </div>
                    <div class="inputField">
                        <input type="tel" placeholder="Phone" id="addPhone" required />
                        <img src="./assets/img/call.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="addContactContainer">
                <button class="buttonLight" onclick="closeAddContactPopUp(event)">Cancel</button>
                <button class="buttonDarg" >Create contact</button>
            </div>
        </form>
    </div>
</div>