<div class="contact-popup">
    <div class="left-container">
        <img src="./assets/img/join_logo_white.svg" alt="">
        <div class="headline-popUp">Edit contact</div>
        <div class="seperator-popUp"></div>
    </div> 
    <div class="right-container">
        <div class="close-icon" onclick="closePopUp()">
            <img src="./assets/img/close.svg" alt="">
        </div>
        <div class="person-icon" id="initialsPopUp">
            
        </div>
        <form class="form-container" onsubmit="updateContactInfo(i); return false">
            <div class="input-container">
                <div class="inputFieldsRegistration">
                    <div class="inputField">
                        <input type="text" placeholder="Name" id="editName" required />
                        <img src="./assets/img/person.svg" alt="" />
                    </div>
                    <div class="inputField" id="inputEmailField">
                        <input type="email" placeholder="Email" id="editEmail" required />
                        <img src="./assets/img/mail.svg" alt="" />
                    </div>
                    <div class="inputField">
                        <input type="number" placeholder="Phone" id="editPhone" required />
                        <img src="./assets/img/call.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="addContactContainer">
                <button class="buttonLight delete" id="deleteButton" onclick="deleteContact(i, sortedContacts)">Delete</button>
                <button class="buttonDarg" id="editButton" >Save</button>
            </div>
        </form>
    </div>
</div>