<div class="header">
    <div class="header-container">
        <span>Kanban Project Management Tool</span>
        <div class="icon-container">
            <div class="help-container">
                <img src="./assets/img/help.svg" alt="help" class="help-icon">
            </div>
            <div class="user-icon">
                <span class="Icon-elipse">User</span>
            </div>
        </div>
    </div>
    <div class="popUp-container">
        <div id="popUpUser">
            <div class="popUp-button">Legal Notice</div>
            <div class="popUp-button">Privacy Policy</div>
            <div class="popUp-button">Log out</div>
        </div>
    </div>
</div>