<div id="header" class="header">
    <div class="header-container">
        <div class="logo-mobile d-none">
            <img src="./assets/img/join_logo.svg" alt="logo">
        </div>
        <span class="title">Kanban Project Management Tool</span>
        <div class="icon-container" id="iconContainer">
            <div class="help-container">
                <img src="./assets/img/help.svg" alt="help" class="help-icon" onclick="openPage('help')">
            </div>
            <div class="user-icon" id="userNavar" onclick="userNavbar()">
                <span class="Icon-elipse" id="Initial"></span>
            </div>
        </div>
    </div>
    <div class="popUp-container" id="popUpUser">
        <div>
            <div class="popUp-button" onclick="openPage('legality')">Legal Notice</div>
            <div class="popUp-button" onclick="openPage('policy')">Privacy Policy</div>
            <div class="popUp-button" onclick="logoutUser()">Log out</div>
        </div>
    </div>
</div>