<div class="menu">
  <div class="menuLogo">
    <img src="/assets/img/join_logo_white.svg" alt="join_logo" />
  </div>
  <div class="menuButtonContainer">
    <div class="menuButton" id="summaryButton">
      <img src="/assets/img/summary_icon.svg" alt="summary_icon" />
      <p>Summary</p>
    </div>
    <div class="menuButton" id="addTaskButton">
      <img src="/assets/img/add_task_icon.svg" alt="add_task_icon" />
      <p>Add Task</p>
    </div>
    <div class="menuButton" id="boardButton">
      <img src="/assets/img/board_icon.svg" alt="board_icon" />
      <p>Board</p>
    </div>
    <div class="menuButton" id="contactButton">
      <img src="/assets/img/contact_icon.svg" alt="contact_icon" />
      <p>Contacts</p>
    </div>
  </div>
  <div class="menuFooter">
    <a href="">Privacy Policy</a>
    <a href="">Legal notice</a>
  </div>
</div>
